
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;600;700&family=Barlow:wght@300;400;500;600;700&family=Bellefair&display=swap');

:root{
  --font-1: 'Barlow', sans-serif;
  --font-2: 'Barlow Condensed', sans-serif;
  --font-3: 'Bellefair', serif;

  --color-1: rgb(33, 37, 41);
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


body {
  font-family: var(--font-1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


a{
  text-decoration: none;
  color: inherit;
}


.wrapper{
  width: 1300px;
  margin: 0 auto;
}


.container{
  position: relative;
  background-color: var(--color-1);
  min-height: 100vh;
  padding-bottom: 100px;
}